<div class="h-100">
  <div
    class="container-fluid w-75 mx-auto"
  >
    <div
      class="container d-flex align-items-center justify-content-between border-bottom mx-auto pt-3"
    >
      <div class="d-flex justify-content-start align-items-center">
        <a class="fs-3 fw-bold me-5 text-decoration-none text-white" routerLink="/"><p>Events</p></a>
        <a class="fs-3 fw-bold text-decoration-none text-white" routerLink="/users"><p>Users</p></a>
      </div>

      <div class="py-3">
        <a routerLink="/user-form"
          ><button type="button" class="btn btn-success">
            Add new user
          </button></a
        >
      </div>

    </div>

    <lib-search-user-details></lib-search-user-details>

    <lib-user-details-list></lib-user-details-list>
  </div>
</div>

