<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
  <div class="mt-5 d-flex justify-content-center align-items-center">
    <h2 class="w-75 fw-bold fs-1 text-center">
      Thank you for your registration
    </h2>
  </div>
  <div class="mt-5 d-flex justify-content-center align-items-center">
    <p class="w-75 text-center fs-5">
      You have successfully registered for our event and we look forward to your
      attendance! A confirmation e-mail with further details will be sent
      shortly.
    </p>
  </div>
</div>
