<div class="grid">
  <div class="g-col-6 vh-100 position-fixed">
    <img
      class="img-fluid h-100 shadow-lg bg-body rounded"
      src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/278589979_568804504380322_1276255591078206568_n.png?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=bOJFAmLG-v4AX-4i2SK&_nc_oc=AQmK475dnjI8qoD55FS-zgKJ2IEtT3ClAveCkXVlwW6rDs-73hGbIU3hdldQJ9S50NslvKarjQpYabTtV7dxYUym&_nc_ht=scontent-waw1-1.xx&oh=03_AVI0gDH77E5IrLPbU2kn3LTtMQf3jrYhx0onhogLVJnXUw&oe=62871E2B"
      alt=""
    />
  </div>

  <div class="g-col-6 g-start-7 vh-100">
    <router-outlet></router-outlet>
  </div>
</div>
